<h3>
  {{title}} User Form
</h3>
<div class="container">
<form [formGroup]="userForm" class="offset-md-1">

  <div class="form-group" hidden>
    <label for="id">Id:</label>
    <input class="form-control" formControlName="id">
  </div>
  <div class="form-group form-inline">
    <label for="name" class="col-md-2">Name:</label>
    <input class="form-control col-md-8" formControlName="name">
  </div>

  <div class="form-group form-inline">
    <label class="col-md-2">Age:</label>
    <input type="number" class="form-control col-md-8" formControlName="age">
  </div>

  <div class="form-group form-inline">
    <label class="col-md-2">Contact:</label>
    <input type="number" class="form-control col-md-8" formControlName="contact">
  </div>

  <div class="form-group radio form-inline">
    <label class="col-md-2">Gender:</label>
    <label class="col-md-2">
      <input type="radio" formControlName="gender" value="Male">Male</label>
    <label class="col-md-2">
      <input type="radio" formControlName="gender" value="Female">Female</label>
  </div>

  <div class="form-group form-inline">
    <label class="col-md-2">Designation:</label>
    <select class="form-control col-md-8" formControlName="designation">
      <option *ngFor="let desg of designations" value="{{desg}}">{{desg}}</option>
    </select>

  </div>
  <div class="form-group form-inline">
    <label class="col-md-2">Known Techs:</label>
    <select multiple="multiple" class="form-control col-md-8" formControlName="knownTechs">
      <option *ngFor="let kt of knownTechs" value="{{kt}}">{{kt}}</option>
    </select>
  </div>
  <button (click)="addUser(userForm.value)" class="btn btn-success">Submit</button>
</form>
</div>
