<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="collapse navbar-collapse">
    <h3 class="btn bg-light disabled">User Management</h3>
    <a class="btn btn-success" routerLink="/addUser">Add User</a>
    <a class="btn btn-info" routerLink="/users">View Users</a>
    <a class="btn btn-info" routerLink="/stackedbargraph">View Stackedbar Graph</a>
    <a class="btn btn-info" routerLink="back()">Back</a>
  </div>
</nav>
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>
